$blue: #1CA0F8;
$dark: #3C4D61;
$gray: #F2F6FB;
$gray-dark: #6A809C;
$green: #26DC78;

$white: #fff;
$white20: rgba(255, 255, 255, .2);
$white50: rgba(255, 255, 255, .5);

$black20: rgba(0, 0, 0, .2);
$black50: rgba(0, 0, 0, .5);