@import 'normalize';
@import "color";
@import "layout";
@import "mixin";

html {
  height: 100%;
  font-size: 100px;
}
body {
  height: 100%;
  font-size: .14rem;
  font-weight: 300;
  font-family: BlinkMacSystemFont , "Segoe UI" , Roboto , "Segoe UI" , "Helvetica Neue", "PingFang SC", "Noto Sans" , "Noto Sans CJK SC" , "Microsoft YaHei" , "微软雅黑" , sans-serif;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input {
  color: $gray-dark;
}
#ran {
  display: flex;
  height: 100%;
}
.main-menu {
  display: flex;
  flex-direction: column;
  font-family: 'Abril Fatface';
  .logo {
    padding: $gap-middle;
    background: $blue;
    font-size: 0;
    text-align: center;
    img {
      width: .3rem;
    }
  }
  nav {
    flex: 1;
    background: $dark;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: .7rem;
    }
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: $gap-small $gap-middle;
      width: 100%;
      @include borderBottom($white20);
      cursor: pointer;
      &:hover {
        background: $black20;
      }
      &.current {
        background: $green;
        span {
          color: $white;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      margin-bottom: $gap-tiny;
    }
    span {
      font-size: .12rem;
      color: $white20;
    }
  }
}
.list-area {
  display: flex;
  width: 3rem;
  flex-direction: column;
  .search {
    padding: $gap-middle;
    background: $white;
    @include borderBottom($gray);
    .search-bar {
      height: .3rem;
      background: $gray;
      display: flex;
      padding: $gap-tiny $gap-small;
      border-radius: .03rem;
    }
    img {
      margin-right: .1rem;
    }
    input {
      border: none;
      background: none;
      flex: 1;
      outline: none;
    }
  }
  .categroy {
    padding: .2rem;
    display: flex;
    align-items: center;
    color: $gray-dark;
    @include borderBottom($gray);
    > span {
      margin-right: .05rem;
    }
    .dropdown {
      display: inline-block;
      background: $gray;
      padding: $gap-tiny $gap-small;
      border-radius: .03rem;
      flex: 1;
      color: $gray-dark;
      ul {
        display: none;
      }
      .select {
        width: 100%;
      }
    }
  }
  .posts {
    overflow-y: auto;
    flex: 1;
    article {
      display: flex;
      color: $gray-dark;
      flex-direction: row-reverse;
      @include borderBottom($gray);

      &:hover {
        .thumb {
          opacity: 1;
        }
      }
    }
    .thumb {
      width: .2rem;
      height: 1rem;
      background-size: cover;
      opacity: .2;
      transition: opacity .2s ease-in-out;
    }
    h3 {
      margin: 0 0 $gap-small 0;
      @include ellipsis(100%);
      a {
        color: $dark;
        font-size: .14rem;
      }
    }
    a {
      color: $gray-dark;
      font-size: .12rem;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
    p {
      font-size: .12rem;
      display: none;
    }
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 1rem;
      width: calc(100% - .2rem);
      padding: $gap-middle;
      .category {
        display: flex;
        align-items: center;
      }
      img {
        width: .3rem;
        height: auto;
        margin-right: $gap-small;
      }
    }
  }
}
.content-area {
  background: $gray;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  article {
    width: 90%;
    max-width: 9rem;
    margin: $gap-big auto;
    background: $white;
    border-radius: .03rem;
    box-shadow: 0 .1rem .2rem #C4D3E6;
  }
  header {
    display: flex;
    align-items: center;
    padding: $gap-giant;
    color: $dark;
    @include borderBottom($gray);
    img {
      width: .6rem;
      height: auto;
      margin-right: $gap-small;
    }
    h1 {
      font-size: .2rem;
      margin: 0 0 $gap-tiny 0;
    }
    .meta {
      font-size: .12rem;
      color: $gray-dark;
      & > *:not(:last-child)::after {
        content: '/';
        margin: 0 $gap-tiny;
      }
    }
  }
  .content {
    padding: $gap-giant $gap-super;
    line-height: 2;
    color: $dark;
    font-size: .16rem;
    font-family: Raleway;
    font-weight: 400;

    p {
      margin: 0;
    }
    h2,
    h3,
    h4 {
      margin-left: -.2rem;
      font-size: .18rem;
      font-weight: 500;
      &::before {
        content: '#';
        color: $blue;
        margin-right: $gap-small;
      }
    }
    pre {
      background: $gray;
      overflow-x: auto;
      border-radius: .03rem;
      padding: $gap-middle;
    }
    code {
      background: $gray;
      border-radius: .03rem;
      padding: 0 $gap-small;
      margin: 0 $gap-tiny;
    }
    a {
      text-decoration: none;
      color: $dark;
      @include borderBottom(darken($gray, 10%));
      &:hover {
        color: $blue;
        border-color: currentColor;
      }
    }
    blockquote {
      margin: 0;
      padding-left: $gap-big;
      border-left: .05rem solid $gray-dark;
    }
  }
}